<div class="about-page">
  <h1>Om eventyrsamlingen</h1>

  <div class="about-content">
    <section class="content">
      <p>
        Disse eventyrene er fra samlinger utenfor opphavsrett, digitalisert av
        Nasjonalbiblioteket. Den automatiserte digitaliseringen produserer tekst
        som er vanskelig å lese, og har derfor blitt redigert av Store
        Språkmodeller (LLM). Språkmodellene har også modernisert språkdrakten,
        siden samlingene som er fra tidlig 1900-tall er skrevet med et språk som
        er til dels vanskelig å lese 100 år senere.
      </p>
      <p>
        Dette medfører at det er en del feil og mangler i tekstene, men
        kildekoden til prosjektet er åpen og det er mulig å sende inn forslag
        til bedre formuleringer og korrektur av feil.
      </p>
      <p>
        Eventyrene er oppgitt med ordtelling for å lettere velge en passende
        leselengde ved godnatt-lesning.
      </p>
    </section>
  </div>
</div>
